<h3>Cart</h3>

<p><%= link_to "All orders", orders_path, class: btn(:primary) %>
</p>
<% if @user_products.empty? && @user_boxes.empty? %>
  <p class="text-info">Your cart is empty.</p>
<% else %>
  <table class="table">
    <tr>
      <th></th>
      <th>Quantity</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
    <% @user_products.each do |up| %>
      <tr>
        <td><%= link_to 'X', remove_product_cart_index_path(up.id), method: :delete %></td>
        <td>
            <%= link_to '-', decrease_product_quantity_cart_index_path(up), method: :patch %>
            <%= up.quantity %>
            <%= link_to '+', increase_product_quantity_cart_index_path(up), method: :patch %>
        </td>
        <td><%= link_to up.product.name, up.product %></td>
        <td><%= number_to_currency up.price %></td>
      </tr>
    <% end %>

    <% @user_boxes.each do |ub| %>
      <tr>
        <td><%= link_to 'X', remove_box_cart_index_path(ub.id), method: :delete %></td>
        <td>
            <%= link_to '-', decrease_box_quantity_cart_index_path(ub), method: :patch %>
            <%= ub.quantity %>
            <%= link_to '+', increase_box_quantity_cart_index_path(ub), method: :patch %>
        </td>
        <td><%= link_to ub.box.name, edit_user_box_path(ub) %>
           <% if !ub.full? %>
              <i class="glyphicon glyphicon-warning-sign"></i>
              <%= link_to 'This box is not full', edit_user_box_path(ub) %>
          <% end %>
        </td>
        <td><%= number_to_currency ub.price %></td>
      </tr>
    <% end %>

    <tr>
      <td></td>
      <td></td>
      <td>Total</td>
      <td><%= number_to_currency current_user.total_cart %></td>
    </tr>
  </table>


  <%= bootstrap_form_tag url: orders_path, :method=>'post' do |f| %>
    <table class = "table">
      <caption>
        Choose when do you want to pick up your order before checkout.
      </caption>
      <tr>
        <td>
          <div class="input-group date">
            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            <%= f.text_field :date, class: 'form-control', hide_label: true, required: true %>
          </div>
        </td>
        <td>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            <%= f.select(:hour, options_for_select([
              ['10:00 AM', '10:00 AM'],
              ['11:00 AM', '11:00 AM'],
              ['2:00 PM', '2:00 PM'],
              ['3:00 PM', '3:00 PM'],
              ['4:00 PM', '4:00 PM'],
              ['5:00 PM', '5:00 PM']
              ]), class: 'form-control', hide_label: true ) %>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2" align="center"><%= submit_tag "Go to checkout", class: btn(:primary)  %></td>
      </tr>
    </table>
  <% end %>
<% end %>






<script type="text/javascript">
  $(document).ready(function(){
      $('.input-group.date').datepicker({
        startDate: "tomorrow",
        orientation: "bottom left",
        todayHighlight: true,
        datesDisabled: ['12/25/2016']
      });
  });
</script>







