<h1>Cart</h1>
<% if @user_items.size > 0 %>
<table class="table">
    <tr>
      <th></th>
      <th>Quantity</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
  <% @user_items.each do |ui| %>
    <tr>
      <td><%= link_to 'X', remove_cart_index_path(ui.id), method: :delete %></td>
      <td><%= ui.quantity %></td>
      <td><%= link_to ui.name, ui.buyable %></td>
      <td><%= number_to_currency ui.price %></td>
    </tr>
  <% end %>
    <tr>
      <td></td>
      <td></td>
      <td>Total</td>
      <td><%= number_to_currency current_user.total_cart %></td>
    </tr>
</table>
<% else %>
<p>Your cart is empty</p>
<% end %>
