<table>
<tr>
<td><%= link_to "Create product", new_product_path, class: btn(:primary) %></td>
<td><%= link_to "Create Box", new_box_path, class: btn(:primary) %></td>
</tr>
</table>
<table class="table">
<caption>Items for sale list</caption>
    <tr>
      <th>Products</th>
      <th></th>
      <th></th>
    </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.name, edit_product_path(product) %></td>
      <td><%= product.price %></td>
      <td><%= link_to 'Delete', product, method: :delete %></td>
    </tr>
  <% end %>

    <tr>
      <th>Boxes</th>
      <th>Prices</th>
      <th></th>
    </tr>
  <% @boxes.each do |box| %>
    <tr>
      <td><%= link_to box.name, edit_box_path(box) %></td>
      <td><%= box.price %></td>
      <td><%= link_to 'Delete', box, method: :delete %></td>
    </tr>
  <% end %>
</table>
