<%= bootstrap_form_for @box do |f| %>

  <% if @box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@box.errors.count, "error") %> prohibited this box from being saved:</h2>
      <ul>
      <% @box.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= f.collection_select(:category_id, Category.all, :id, :name ) %></p>
  <p><%= f.text_field :name %></p>
  <p><%= f.text_area :description %></p>
  <p><%= f.number_field :size %></p>
  <p><%= f.number_field :price, :class => 'cost', :step => '0.01' %></p>
  <%= f.submit %>
<% end %>
