<h3>Orders</h3>
<p><%= link_to "Back to cart".html_safe, cart_index_path , class: btn(:primary)%>
</p>
<table class="table">
    <tr>
      <th>Payment status</th>
      <th>Pick up time</th>
      <th>Amount</th>
      <th>Transaction ID</th>
      <th>Purchased at</th>
    </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.status, order %></td>
      <td><%= order.time_delivery %></td>
      <td><%= number_to_currency order.amount %></td>
      <td><%= order.transaction_id %></td>
      <td><%= order.purchased_at %></td>
    </tr>
  <% end %>
</table>

