
<table>
  <tr><td><strong>Order status</strong> </td><td> <%= @order.status %></td></tr>
  <tr><td><strong>Total amount</strong> </td><td> <%= number_to_currency @order.amount %></td></tr>
  <tr><td><strong>Transaction ID</strong> </td><td> <%= @order.transaction_id %></td></tr>
  <tr><td><strong>purchased at</strong> </td><td> <%= @order.purchased_at %></td></tr>
</table>
<%= @order.invoice %>
