<h3>Order details</h3>
<p><%= link_to "Back to orders list".html_safe, orders_path , class: btn(:primary)%>
</p>
<table class="table">
    <tr>
      <th>Payment status</th>
      <th>Pick up time</th>
      <th>Amount</th>
      <th>Transaction ID</th>
      <th>Purchased at</th>
    </tr>

    <tr>
      <td><%= @order.status %></td>
      <td><%= @order.time_delivery %></td>
      <td><%= number_to_currency @order.amount %></td>
      <td><%= @order.transaction_id %></td>
      <td><%= @order.purchased_at %></td>
    </tr>
</table>
<div>

<ul>
<% eval(@order.invoice).each do |element| %>
  <% if element[0]=="Product" %>
    <li><%= "#{element[1]}x  #{element[2]}"%></li>
  <% end %>
<% end %>
</ul>

<ul>
<% eval(@order.invoice).each do |element| %>
  <% if element[0]=="Box" %>
    <li><%= "#{element[1]}x  #{element[2]}" %></li>
    <ul>
      <% element[3].each do |product_content| %>
        <li><%= "#{product_content[0]}x  #{product_content[1]}" %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
</ul>
