<h3>Order details</h3>
<p><%= link_to "Back to orders list".html_safe, orders_path , class: btn(:primary)%>
</p>
<table class="table">
    <tr>
      <th>Status</th>
      <th>Purchased at</th>
      <th>Amount</th>
      <th>Transaction ID</th>
    </tr>

    <tr>
      <td><%= @order.status %></td>
      <td><%= @order.purchased_at %></td>
      <td><%= number_to_currency @order.amount %></td>
      <td><%= @order.transaction_id %></td>
    </tr>
</table>
<div>
<%= @order.invoice.html_safe %>
</p>
