<div class="row">


  <div class="col-xs-12 col-md-3 list_customised">
    <hr/>
    <h4><%= @box.name %></h4>
    <p><%= number_to_currency @box.price %></p>
    <div id="product-list">
        <%= render 'user_boxes/list' %>
    </div>
  </div>


  <div class="col-xs-12 col-md-9">
     <hr/>
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-xs-6 col-md-3 product_div">


          <%= link_to product.name, product %>


          <br/>
          <%= link_to "<i style=font-size:1.5em;' class='glyphicon glyphicon-minus-sign'></i>".html_safe, user_box_remove_product_path(@user_box, product), remote: true, method: :delete %>
          <%= link_to image_tag(product.picture(:thumb)), product %>
           <%= link_to "<i style=font-size:1.5em;' class='glyphicon glyphicon-plus-sign'></i>".html_safe, user_box_add_product_path(@user_box, product), remote: true, method: :post %>

         </div>
      <% end %>
    </div>
  </div>



</div>
