<%= bootstrap_form_for @product do |f| %>

  <% if @product.errors.any? %>
    <div class="text-danger">
      <h4><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h4>
      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.collection_select(:category_id, Category.all, :id, :name ) %>
  <%= f.file_field :picture %>
  <%= f.text_field :name %>
  <%= f.text_area :description %>
  <%= f.number_field :price, :class => 'cost', :step => '0.01' %>
  <%= f.submit %>
<% end %>
