<div class="show_product">
<h3><%= @product.name %></h3>
<h4><%= @product.description %></h4>
<p><%= number_to_currency @product.price %></p>
<p><%= image_tag @product.picture(:medium) %></p>


<%= link_to "Back".html_safe, :back , class: btn(:default)%>
<% if @product.price? %>
  <%= link_to 'Add to cart', add_product_cart_index_path(@product), method: :post, class: btn(:primary) %>
<% end %>

</div>
