<!DOCTYPE html>
<html>
<head>
  <title>Macaron</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Admin", admin_index_path  %>
<%= link_to "Shop", products_path  %>
<%= link_to "Cart", cart_index_path  %>
<h1>Paris Rendez-vous</h1>

<%= notice %>
<%= alert %>

<%= yield %>

</body>
</html>
